body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

// TEMPORARY SCSS CODE as I transition from styled-components
// I'll clean this up later!
.console-wrapper {
  height: 300px;
  width: 400px;
  border: 1px solid #ccc;
  overflow-y: scroll;

  .console-line {
    padding: 5px;
    white-space: pre-wrap;
  }
}

.input-wrapper {
  margin-top: 10px;
}
